
/*
 * --------------------------------
 *           Chat help
 * --------------------------------
 *
 */

.chat-help {
    padding: 50px 0;
    overflow: scroll;
    height: 100%;
}

.chat-help .title {
    font-size: 20px;
}

.chat-help .group {
    padding: 15px 30px;
    color: white;
}

.chat-help .label {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.chat-help .sample {
    font-size: 16px;
}

/*
 * --------------------------------
 *             Chat
 * --------------------------------
 *
 */

.chat {
    height: 100%;
    padding-bottom: 40px;
}

.chat .messages {
    padding: 50px 100px;
    padding-bottom: 0px;
    position: relative;
    overflow: scroll;
    height: 100%;
}

.chat .messages .message {
    width: 100%;
    min-height: 80px;
    position: relative;
    line-height: 80px;
    margin: 10px 0;
}

.chat .messages .message::after {
    content: ' ';
    display: block;
    clear: both;
}

.chat .message-oscar {
    padding-left: 90px;
    float: left;
}

.chat .message .avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
}

.chat .message .content {
    background: black;
    display: inline-block;
    line-height: 18px;
    padding: 5px 10px;
    color: white;
    vertical-align: middle;
    border-radius: 5px;
    max-width: 500px;
}

.chat .message .content .gif {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px 0;
}

.chat .message-oscar .avatar {
    background: #1B1B24;
    left: 0;
}

.chat .message-oscar .avatar img {
    width: 32px;
    height: auto;
    vertical-align: middle;
}

.chat .message-oscar .avatar::after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #1B1B24;
    border-width: 5px;
    margin-top: -4px;
}

.chat .message-oscar .content {
    background: #1B1B24;
    position: relative;
}

.chat .message-user {
    padding-right: 90px;
    float: right;
}

.chat .message-user .avatar {
    right: 0;
}

.chat .message-user .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat .message-user .bubble {
    float: right;
    line-height: 80px;
}

.chat .message-oscar .bubble .content .bubbles {
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 100px;
    background: #fff;
}

.chat .message-oscar .bubble .content .bubbles:first-child {
  animation: bubbles 1.2s infinite;
}

.chat .message-oscar .bubble .content .bubbles:nth-child(2) {
  animation: bubbles 1.2s 0.2s infinite;
}

.chat .message-oscar .bubble .content .bubbles:last-child {
  animation: bubbles 1.2s 0.4s infinite;
}

@keyframes bubbles {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

.chat .message-user .content {
    background: #554B6D;
    position: relative;
}

.chat .message-user .avatar::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: #1B1B24;
    border-width: 5px;
    margin-top: -4px;
}

.chat .chat-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-top: 1px solid #DDDDDD;
    padding-right: 120px;
}

.chat .chat-box .chat-input {
    display: block;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FEFEFE;
    padding: 0 30px;
    line-height: 20px;
}

.chat .chat-box .chat-submit {
    position: absolute;
    display: block;
    height: 100%;
    bottom: 0;
    width: 120px;
    right: 0;
    background: #F4F4F4;
    cursor: pointer;
    text-transform: uppercase;
}
