

/*
 * --------------------------------
 *           Trending
 * --------------------------------
 *
 */

 .trending{
	background: #1B1B24;
	color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.mosaic {
	position: relative;
	width: 100%;
	height: 75%;
}
.mosaic > .wrap {
	height: 100%;
	width: 95%;
	margin: 0 auto;
}

.mosaic > .wrap > .primary-mosaic {
  width: 33.5%;
	height: 100%;
  /*background: red;*/
  overflow: hidden;
	display: inline-block;
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.mosaic > .wrap > .secondary-mosaic{
	position: relative;
	float: right;
	width: 66%;
	height: 100%;
	overflow: hidden;
}

.mosaic > .wrap > .secondary-mosaic > .movie-unit{
	display: inline-block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	/*height: 330px;
	width: 242px;*/
	width: 32%;
	height: 50%;
	margin: 0;
}


/* description and description elements */
.mosaic > .wrap .movie-description {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.3em;
  padding: 20% 1.2vw 20px 1.1vw;
	opacity: 0;
	transition: opacity .3s;
	background-color: rgba(0, 0, 0, 0.54);
}

.mosaic > .wrap > .primary-mosaic .movie-description {
  position: absolute;
  width: 31.9%;
  left: 2.5%;
	top: 0;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.3em;
  padding: 20% 1.2vw 20px 1.1vw;
	opacity: 0;
	transition: opacity .3s;
	background-color: rgba(0, 0, 0, 0.54);

  /*padding: 18vh 1.2vw 20px 1.1vw;
  width: 33.5%;
  left: 2.5%;
	font-size: 1.8em;*/

}

/* DESCRIPTION */
/* style tags */
.mosaic > .wrap .movie-description > .tags > div{
  font-size: .6em;
  display: inline-block;
  border: .1em solid;
  border-radius: 20px;
  padding: 8px;
}

.mosaic > .wrap .movie-description > .movie-title{
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8vh 0 2vh 0;
  font-size: 1em;
}


.mosaic > .wrap .movie-description > .movie-vote{
  letter-spacing: 1px;
  font-size: .7em;
  padding-bottom: 2vh;
}


/* activate description */
.mosaic > .wrap > .primary-mosaic:hover > .movie-description{
	opacity: 1;
}

.mosaic > .wrap > .secondary-mosaic .movie-unit:hover > .movie-description{
	opacity: 1;
}
