

/*
 * --------------------------------
 *           Trending
 * --------------------------------
 *
 */

 .trending{
	background: #1B1B24;
	color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.mosaic {
	position: relative;
	width: 100%;
	height: 75%;
}
.mosaic > .wrap {
	height: 100%;
	width: 90%;
	margin: 0 auto;
	background-color: white;
}

/* mosaics positions */
.mosaic > .wrap > .primary-mosaic{
	position: relative;
	float: left;
	width: 33%;
	height: 100%;
	overflow: hidden;
}

/*big poster*/
.mosaic > .wrap > .primary-mosaic > .featuring{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.mosaic > .wrap > .secondary-mosaic{
	position: relative;
	float: right;
	width: 66%;
	height: 100%;
	overflow: hidden;
}

.mosaic > .wrap > .secondary-mosaic > .movie-unit{
	display: inline-block;
	/*height: 330px;
	width: 242px;*/
	width: 32%; 
	height: 50%;
	margin: 0;
}


/* description and description elements */
.mosaic > .wrap .movie-description {
	width: 60%;
	display: none;
  	text-transform: uppercase;
  	font-weight: 400;
  	font-size: 1.2em;
  	margin: auto;
}

/* DESCRIPTION */
/* style tags */
.mosaic > .wrap .movie-description > .tags > div{
  font-size: .6em;
  display: inline-block;
  border: .1em solid;
  border-radius: 20px;
  padding: 8px;
}

.mosaic > .wrap .movie-description > .movie-title{
  letter-spacing: 1px;
  padding: 50% 0 3px 0;
  font-size: 1em;
}

.mosaic > .wrap .movie-description > .movie-vote{
  letter-spacing: 1px;
  font-size: .7em;
  padding-bottom: 6px;
}


/* HOVER effect */
.mosaic > .wrap > .secondary-mosaic *:hover > .overlay{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.7;
}

.mosaic > .wrap > .primary-mosaic *:hover > .overlay{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.7;
}


/* activate description */
.mosaic > .wrap > .primary-mosaic *:hover > .movie-description{
	display: block;
	padding-top: 50%;
}

.mosaic > .wrap > .secondary-mosaic *:hover > .movie-description{
	display: block;
	padding-top: 20%;
}

