
html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body.with-nav {
    padding-left: 80px;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: #322C40;
}

.nav .top-nav {
    position: absolute;
}

.nav .bottom-nav {
    position: absolute;
    bottom: 0px;
}

.nav .group {
    margin: 50px 0;
}

.nav .entry {
    display: block;
    margin: 25px 0;
    padding: 5px 30px;
    position: relative;
}

.nav .entry.entry-large {
    padding: 0 20px;
}

.nav .entry-link {
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: all .2s;
    text-align: center;
    transition: border .2s;
}

.nav .entry-link:hover {
    border-left: 2px solid rgba(255,255,255,0.5);
}

.nav .entry-link.active {
    border-left: 2px solid white;
}

.nav .entry-link .entry-fix-height {
    height: 18px;
    width: auto;
}

.nav .entry .tooltip {
    display: inline-block;
    position: absolute;
    background: #322C40;
    white-space: nowrap;
    left: 100%;
    color: white;
    top: 50%;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 22px;
    padding: 0 5px;
    border-radius: 3px;
    transform-origin: 0 50%;
    transition: opacity .2s, transform .2s, visibility .2s .2s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6) translateZ(0);
}

.nav .entry:not(.active):hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s, transform .2s, visibility .2s .0s;
    transform: scale(1) translateZ(0);
}

.nav .entry .tooltip::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #322C40;
    border-width: 5px;
    margin-top: -5px;
}

.img-round {
    border-radius: 50%;
}

.img-responsive {
    width: 100%;
    height: auto;
}
