
/*
 * --------------------------------
 *           Main style
 * --------------------------------
 *
 */

html, body {
    height: 100%;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body.with-nav {
    padding-left: 80px;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../../fonts/MontserratUltraLight.eot');
    src: url('../../fonts/MontserratUltraLight.eot') format('embedded-opentype'),
         url('../../fonts/MontserratUltraLight.woff2') format('woff2'),
         url('../../fonts/MontserratUltraLight.woff') format('woff'),
         url('../../fonts/MontserratUltraLight.ttf') format('truetype'),
         url('../../fonts/MontserratUltraLight.svg#MontserratUltraLight') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../../fonts/MontserratLight.eot');
    src: url('../../fonts/MontserratLight.eot') format('embedded-opentype'),
         url('../../fonts/MontserratLight.woff2') format('woff2'),
         url('../../fonts/MontserratLight.woff') format('woff'),
         url('../../fonts/MontserratLight.ttf') format('truetype'),
         url('../../fonts/MontserratLight.svg#MontserratLight') format('svg');
}

/*@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../../fonts/MontserratRegular.eot');
    src: url('../../fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('../../fonts/MontserratRegular.woff2') format('woff2'),
         url('../../fonts/MontserratRegular.woff') format('woff'),
         url('../../fonts/MontserratRegular.ttf') format('truetype'),
         url('../../fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}*/

/*
 * --------------------------------
 *           Navigation
 * --------------------------------
 *
 */

.nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: #322C40;
    z-index: 20;
}

.nav .top-nav {
    position: absolute;
}

.nav .bottom-nav {
    position: absolute;
    bottom: 0px;
}

.nav .group {
    margin: 50px 0;
}

.nav .entry {
    display: block;
    margin: 25px 0;
    padding: 5px 32px;
    position: relative;
    text-align: center;
}

.nav .entry.entry-large {
    padding: 0 20px;
}

.nav .entry-link::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: all .15s;
    transform: scaleY(0);
}

.nav .entry-link:hover::after {
    transform: scaleY(1);
}

.nav .entry-link.active::after {
    background: #FEFEFE;
    transform: scaleY(1);
}

.nav .entry-link .entry-fix-height {
    height: 18px;
    width: auto;
}

.nav .entry .tooltip {
    display: inline-block;
    position: absolute;
    background: #322C40;
    white-space: nowrap;
    left: 100%;
    color: white;
    top: 50%;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 22px;
    padding: 0 5px;
    border-radius: 3px;
    transform-origin: 0 50%;
    transition: opacity .2s, transform .2s, visibility .2s .2s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6) translateZ(0);
}

.nav .entry:not(.active):hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s, transform .2s, visibility .2s .0s;
    transform: scale(1) translateZ(0);
}

.nav .entry .tooltip::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #322C40;
    border-width: 5px;
    margin-top: -5px;
}

/*
 * --------------------------------
 *           UI Elements
 * --------------------------------
 *
 */

.img-round {
    border-radius: 50%;
}

.img-responsive {
    width: 100%;
    height: auto;
}

/*
 * --------------------------------
 *           Side Panel
 * --------------------------------
 *
 */

.side-panel {
    position: relative;
    height: 100%;
}

.side-panel .left-content {
    position: absolute;
    top: 0;
    right: 300px;
    left: 0;
    bottom: 0;
    background: #FEFEFE;
}

.side-panel .right-content {
    position: absolute;
    top: 0;
    width: 300px;
    right: 0;
    bottom: 0;
    background: #3D3D45;
}
